

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 746px; height: 75px;
        }
        .silex-id-1542140397363-0 {top: 80px; left: 20px; height: 140px; width: 320px;
        }
        .silex-id-1542140713887-3 {top: 40px; left: 20px; height: 40px; width: 300px;
        }
    