

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1543462013898-2 {top: 80px; left: 360px; height: 40px; width: 180px;
        }
        .silex-id-1543462044036-4 {top: 380px; left: 20px; height: 140px; width: 306px;
        }
        .silex-id-1543462030739-3 {top: 320px; left: 160px; height: 1.4em; width: 100px;
        }
        .silex-id-1543462275030-7 {top: 20px; left: 20px; height: 260px; width: 280px;
        }
        .silex-id-1543462064378-6 {top: 320px; left: 40px; height: 20px; width: 100px; font-weight: bold;
        }
    